.mainbody{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}

.content{
    min-width: 20%;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.outlet {
    min-width: 80%;
    min-height: 100%;
    flex:1;
    padding: 1.5rem;
    background-color: #F0EDCC;
    
}